<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
<head>
  <title>Santa Mail</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  
  <link href="https://fonts.googleapis.com/css?family=Mountains+of+Christmas" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
  
  <link rel="stylesheet" href="style.css">
  <script src="santaScript.js"></script>
</head>
<body>
       
    <div id="section1" class="container-fluid div1"><a class="smoothScroll" href="#section2"><span id="chevronDown" class="glyphicon glyphicon-chevron-down"></span></a>
       
       <!-- NAVBAR-->
       <nav id="topNav" class="nav navdeco mobileText">         
            <div class="container-fluid">
                <div class="navbar-header" style="width:200px; text-align: left; padding: 5px; padding-top: 10px; float:left;">
                   <a id="navHead" class="navbar-brand" href="#" style="text-decoration:none;font-size:20px; color: white">Santa's Workshop</a>
               </div>
                <a id="navIcon" href="javascript:void(0);" onclick="showNav()">&#9776;</a>
                <ul id="myDropdown" class="nav navbar-nav">
                   <li><a class="smoothScroll" href="#section2">Countdown</a></li>
                   <li><a class="smoothScroll" href="#section3" onclick="writeNew()">Message Santa</a></li>
                </ul>
           </div>
       </nav>
       <!-- END OF NAVBAR -->
    </div>
    <hr>
       
    <div id="section2" class="container-fluid div2">
           
           <div id="clock">
               <h2 class="blue">Presents arrive in..</h2>
                <div>
                    <h2><span id="days" class="blue"></span></h2>
                    <div class="smalltext mobileText blue">Days</div>
               </div> 
               <div>
                   <h2><span id="hours" class="blue"></span></h2>
                   <div class="smalltext mobileText blue">Hours</div>
               </div>
               <div>
                   <h2><span id="minutes" class="blue"></span></h2>
                  <div class="smalltext mobileText blue">Minutes</div>
               </div>
               <div>
                   <h2><span id="seconds" class="blue"></span></h2>
                  <div class="smalltext mobileText blue">Seconds</div>
               </div>
           </div>
           
       </div> 
    <hr>
    
    <div ng-app="mailApp">
       <div id="section3" class="container-fluid div3 blue" style="padding:0; padding-top:50px;">
           
           <h2 style="padding-bottom:4%;">Send Santa Mail</h2>
           <div id="msgContainer" class="container" style="color: white; background-color:rgba(133,214,217,1)">
               <div style='position:absolute; right:0;'>
                   <div id="stampNav-container" style='text-align:center;'>
                       <div id="slides">
                           <ul>
                               <li class="slide"><img class="stamp" src="img/merryChristmas.jpg" alt="Merry Christmas"></li>
                               <li class="slide"><img class="stamp" src="img/hohoho.jpg" alt="HoHoHo!"></li>
                               <li class="slide"><img class="stamp" src="img/deckTheHalls.jpg" alt="Deck The Halls"></li>
                               <li class="slide"><img class="stamp" src="img/jingleBells.jpg" alt="Jingle Bells, Batman Smells"></li>
                               <li class="slide"><img class="stamp" src="img/santasComing.jpg" alt="Santa's Coming!"></li>
                           </ul>
                       </div>
                       <a id="scrollLeft" class="stampNav" onclick="plusDivs(-1)">&#10094;</a>
                       <a id="scrollRight" class="stampNav" onclick="plusDivs(1)">&#10095;</a>
                   </div>
               </div>
               
                       <p id="postcardmsg" class="container-fluid mobileText">
                           <span id="currentDate"></span><br><br>
                           Dear Santa, <br>
                           On Christmas morning, I will be waking up in a city called <br><input class="entries" type="text" ng-model="city" placeholder="Enter city">,<br>
                           in a country known as <br><input class="entries" type="text" ng-model="country" placeholder="Enter country">.
                           <br><br>
                           The 3 items at the top of my Christmas wishlist this year are: 
                           <br>
                           1. <input class="entries" type="text" ng-model="item1"><br>
                           2. <input class="entries" type="text" ng-model="item2"><br>
                           3. <input class="entries" type="text" ng-model="item3"><br>
                           <br><br>
                           Lots of love, <br><input class="entries" type="text" ng-model="name" placeholder="Enter name">
                       </p>
               </div>
               <br><br>
               <button class="btn-deco mobileText" onClick="showLoader()">Post</button>

<!--           </div>-->
       </div> 

           <div id="section4" class="container-fluid hide" style="padding: 50px; width:100%;">
               <div id="floatingBarsG">
                   <div class="blockG" id="rotateG_01"></div>
                   <div class="blockG" id="rotateG_02"></div>
                   <div class="blockG" id="rotateG_03"></div>
                   <div class="blockG" id="rotateG_04"></div>
                   <div class="blockG" id="rotateG_05"></div>
                   <div class="blockG" id="rotateG_06"></div>
                   <div class="blockG" id="rotateG_07"></div>
                   <div class="blockG" id="rotateG_08"></div>
               </div>
               <br>
               <p class="blue">Santa reviewing good list...</p>
           </div>
           

           <div id="santaReply" class="hide" style="padding:40px 0;">
           <h3 style="color:rgba(133,214,217,1);">Dear <span class="personal">{{name | nounFormat}}</span></h3><br>
           <p style="color:rgba(133,214,217,1);">HOHOHO! I was pleased to receive your letter today.<br>
               The elves are sprinkling the last of the fairy dust on the sleigh, so that
               on the night before Christmas we may fly all the way to <span class="personal">{{city | nounFormat}}
               </span>, <span class="personal">{{country | nounFormat}}</span>. 
               <br><br>
               Upon receiving your wishlist, I have advised the elves that the sleigh shall be loaded with the 
               <span class="personal">{{item1 | lowercase}}</span>, <span class="personal">{{item2 | lowercase}}</span>, and/or the <span class="personal">{{item3 | lowercase}}</span>.
               <br><br>
               Stay on the good list, and remember to leave the cookies and milk out for me!<br><br><br>
               <span class="signatureFont">Santa Claus</span>
               <br><br><br><br><br>
               <button class="btn-deco mobileText" onclick="writeNew()">Write another letter</button>
       </div>

       </div>
    <hr>
    <div id="foot" style="height:150px; background-color: white;">
        <p style="padding-top:55px; color: rgba(133,214,217,1)">Created by Alice Knowles</p>
    </div>
       
   <!-- elevator - to bring page back to top-->
   <a class="elevator-wrapper"></a>
   
   <script>
             $(document).ready(function(){
  // Add smooth scrolling to all links
  $(".smoothScroll").on('click', function(event) {

    // Make sure this.hash has a value before overriding default behavior
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 500, function(){
        window.location.hash = hash;
      });
    } 
  });
});

    var slideIndex = 1;
    showDivs(slideIndex);

    function plusDivs(n) {
       showDivs(slideIndex += n);
    }

function showDivs(n) {
  var i;
  var x = document.getElementsByClassName("slide");
  if (n > x.length) {slideIndex = 1;}   
  if (n < 1) {slideIndex = x.length;}
  for (i = 0; i < x.length; i++) {
     x[i].style.display = "none";  
  }
  x[slideIndex-1].style.display = "block";  
}

       var date = new Date();
       var day = date.getDate();
       var months = ["January", "February", "March", "April", "May", "June", "July", "August", "September", "October", "November", "December"];
       var month = months[date.getMonth()];
       var year = date.getFullYear();
       document.getElementById('currentDate').innerHTML = day + " " + month + " " +year;

/*open small-device navbar*/
      function showNav(){
         document.getElementById("myDropdown").classList.toggle("show");
      }

      $(document).ready(function () {
              $("#myDropdown li a").click(function() {
              $("#myDropdown").removeClass('show');
           });
      });

/*Fix the navigation bar to the top when it hits the top of the screen*/
       $(document).ready(function() {
           var touchTop = $('#topNav').offset().top;
            function topAffix(){
            var topOffset = $(window).scrollTop();
        
            if (topOffset > touchTop) { 
               $('#topNav').addClass('fix-nav');
               show('navHead');
            } else {
               $('#topNav').removeClass('fix-nav'); 
               hide('navHead');
             }
       };
       topAffix();
        //constantly check if offset is met during scolling
        $(window).scroll(function() {
           topAffix();
        });
       });

   /*reveal Santa's reply handling when 'post' button clicked*/
       function writeNew(){
           $('#santaReply').addClass('hide');
           $('#section3').removeClass('hide');
       }
       function postMail(){
           $('#santaReply').removeClass('hide');
       }
       function showLoader(){
           $('#section3').addClass("hide");
           
           var $loader = $('#section4');
           $loader.removeClass("hide");
           
           setTimeout(function(){
               postMail();
               $loader.addClass('hide');
            },3000);
       }

       //format proper nouns in santa's return letter grammar
       var app = angular.module('mailApp', []);
       
       app.filter('nounFormat', function(){
           return function(noun){
               if (noun!=null){
                   noun = noun.toLowerCase();
                   noun = noun.split(" ");
                   var formatted = "";
                   for (var i=0; i<noun.length; i++){
                       formatted += noun[i].charAt(0).toUpperCase()+noun[i].substring(1);
                       if (i != (noun.length)-1){
                           formatted += " ";
                       }
                   }  
                   return formatted;
               }
           }
       });

    (function($){
        $('.elevator-wrapper').append('<a id="elevator" class="elevator smoothScroll" href="#section1"><span class="glyphicon glyphicon-chevron-up"></span></div>');
    
        //hide/show elevator, where offset = 300
        $(window).scroll(function(){
            if($(this).scrollTop() > 500){
                $('#elevator').addClass('showElevator');
            } else{
                $('#elevator').removeClass('showElevator');
            }
        });
        
    })(jQuery);

           function hide(elementId){
               document.getElementById(elementId).className += " hide";
           }
           function show(elementId){
               document.getElementById(elementId).className -= " hide";
           }

/*COUNTDOWN*/
        startCountdown();
        function startCountdown(){
            updateCountdown();
            setInterval(updateCountdown,1000);
        }
        function getTimeRemaining(endtime){
            var msLeft = Date.parse(endtime) - Date.parse(new Date());
            var seconds = Math.floor( (msLeft/1000)%60 );
            var minutes = Math.floor( (msLeft/1000/60)%60);
            var hours = Math.floor( (msLeft/(1000*60*60)) %24);
            var days = Math.floor(msLeft/(1000*60*60*24));
            return{
                'days': days,
                'hours': hours,
                'minutes': minutes,
                'seconds':seconds
            };
        }
        function getDays(time){
            //IMPLEMENT
        }
        function updateCountdown(){
             var t = getTimeRemaining('2016-12-24 23:59:59 GMT+1300');
             $('#days').html(('0' + t.days).slice(-2));
             $('#hours').html(('0' + t.hours).slice(-2));
             $('#minutes').html(('0' + t.minutes).slice(-2));
             $('#seconds').html(('0' + t.seconds).slice(-2));
        }

   </script>
   
    </body>
</html>
